/* common */
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #515171;
    background-image: url(files/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

header {
    padding: 1em;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

#banner {
    width: 80%;
    margin: 16px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {font-size: 1.7em}
a:link {color: #1e527e}
a:hover {color: #2c7abc}
a:visited {color: #371e7e}
a:visited {color: #574882}
img {max-width: 100%}

pre {
    color: #dddddd;
    overflow-x: auto;
    padding: 0.3em;
}

.caption {
    font-style: italic;
    font-size: 0.8em;
    line-height: 5px;
    margin-bottom: 3em;
}

.caption {text-align: center}

.center:not(.section), .center>h1, .center>h2{ text-align: center }

img[alt~="puffy"] {
    border: 1px solid black;
    box-shadow: 3px 7px 7px #606060;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
    margin: auto;
}

img[alt^="screenshot"] {
    border: 1px solid black;
    box-shadow: 3px 7px 7px #606060;
    display: column;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    width: 45%;
}

img[alt^="photo"] {
    border: 1px solid black;
    box-shadow: 3px 7px 7px #606060;
    display: column;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    width: 45%;
}

/* guided tour */

#window-maker h1.title { text-align: center }
#window-maker #guided-tour img {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/* gallery */

p.gallery {
    float: left;
    margin: 5px;
    width: 300px;
}

p.gallery a img {
    border: 1px solid black;
    box-shadow: 3px 7px 7px #606060;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
    margin: auto;
}

div.gallery img {
    width: 100%;
    height: auto;
}

.clear {
    clear: left;
}

div.figure img {
    display: block;
    border: 1px solid black;
    box-shadow: 3px 7px 7px #606060;
    margin: 0 auto;
}

div.figure.borderless img {
    border: 0
}

/* logo */
header h1 a {
    font-family: "DejaVu Sans", sans-serif;
    text-shadow: 0 4px 4px #666;
    display: block;
    padding-left: 1.4em;
    background-image: url(files/logo.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    text-decoration: none;
    color: black;
    font-size: 1.8em;
}

header h1 a:link {text-decoration: none}
header h1 a span.second {color: white}
header h1 a span.first {color: black}

/* wrapper decorations */
#minimize, #close {
    margin: 0;
    padding: 0;
    height: 20px;
    width: 21px;
    border-left: 1px solid #b6b6b6;
    border-top: 1px solid #b6b6b6;
    border-right: 1px solid #616161;
    border-bottom: 1px solid #616161;
    background-repeat: no-repeat;
    background-position: center center;
}

#minimize {
    margin-right: 1px;
    background-image: url(files/minimize.png);
}

#close {
    margin-left: 1px;
    background-image: url(files/close.png);
}

#titlebar {
    position: absolute;
    top: 0px;
    display: inline-flex;
    width: 100%;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    background: black;
    height: 23px;
}

#titlebar-inner {
    margin: 0;
    padding: 0;
    margin-top: 0px;
    background: black;
    height: 20px;
    width: 100%;
    border-left: 1px solid #b6b6b6;
    border-top: 1px solid #b6b6b6;
    border-right: 1px solid #616161;
    border-bottom: 1px solid #616161;
    font-size: 0.8em;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 19px;
}

#wrapper {
    position: relative;
    width: 800px;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0 15px #000000;
    background-color: #aeaaae;
    border: 1px solid black;
}

#resizel, #resizer {
    margin: 0;
    padding: 0;
    height: 6px;
    width: 28px;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid #555555;
}

#resizebar {
    position: absolute;
    bottom: 2px;
    display: inline-flex;
    width: 100%;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    background: #aaaaaa;
    height: 5px;
    border-top: 1px solid #555555;
}

#resizebar-inner {
    margin: 0;
    padding: 0;
    margin-top: 0px;
    height: 6px;
    width: 100%;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid #555555;
}

/* TOC */
.contents p {
    margin: 0.2em;
}

/* pre/code highlighted theme - taken from wombat256grf vim colorscheme */
.codehilite { background-color: #242424 }
.codehilite .c { color: #99968b; font-style: italic} /* Comment */
.codehilite .err { color: #dddddd} /* Error */
.codehilite .g { color: #dddddd } /* Generic */
.codehilite .k { color: #87afff } /* Keyword */
.codehilite .l { color: #dddddd } /* Literal */
.codehilite .n { color: #dddddd } /* Name */
.codehilite .o { color: #dddddd } /* Operator */
.codehilite .x { color: #dddddd } /* Other */
.codehilite .p { color: #dddddd } /* Punctuation */
.codehilite .cm { color: #99968b; font-style: italic} /* Comment.Multiline */
.codehilite .cp { color: #e5786d } /* Comment.Preproc */
.codehilite .c1 { color: #99968b; font-style: italic} /* Comment.Single */
.codehilite .cs { color: #99968b; font-style: italic} /* Comment.Special */
.codehilite .gd { color: #dddddd } /* Generic.Deleted */
.codehilite .ge { color: #dddddd } /* Generic.Emph */
.codehilite .gr { color: #dddddd } /* Generic.Error */
.codehilite .gh { color: #f6f3e8; font-weight: bold} /* Generic.Heading */
.codehilite .gi { color: #dddddd } /* Generic.Inserted */
.codehilite .go { color: #888888 } /* Generic.Output */
.codehilite .gp { color: #dddddd } /* Generic.Prompt */
.codehilite .gs { color: #dddddd } /* Generic.Strong */
.codehilite .gu { color: #f6f3e8; font-weight: bold} /* Generic.Subheading */
.codehilite .gt { color: #dddddd } /* Generic.Traceback */
.codehilite .kc { color: #87afff } /* Keyword.Constant */
.codehilite .kd { color: #87afff } /* Keyword.Declaration */
.codehilite .kn { color: #87afff } /* Keyword.Namespace */
.codehilite .kp { color: #87afff } /* Keyword.Pseudo */
.codehilite .kr { color: #87afff } /* Keyword.Reserved */
.codehilite .kt { color: #caeb82 } /* Keyword.Type */
.codehilite .ld { color: #dddddd } /* Literal.Date */
.codehilite .m { color: #e5786d } /* Literal.Number */
.codehilite .s { color: #95e454; font-style: italic} /* Literal.String */
.codehilite .na { color: #caeb82 } /* Name.Attribute */
.codehilite .nb { color: #dddddd } /* Name.Builtin */
.codehilite .nc { color: #dddddd } /* Name.Class */
.codehilite .no { color: #e5786d } /* Name.Constant */
.codehilite .nd { color: #dddddd } /* Name.Decorator */
.codehilite .ni { color: #ffdead } /* Name.Entity */
.codehilite .ne { color: #dddddd } /* Name.Exception */
.codehilite .nf { color: #caeb82 } /* Name.Function */
.codehilite .nl { color: #dddddd } /* Name.Label */
.codehilite .nn { color: #dddddd } /* Name.Namespace */
.codehilite .nx { color: #dddddd } /* Name.Other */
.codehilite .py { color: #dddddd } /* Name.Property */
.codehilite .nt { color: #87afff } /* Name.Tag */
.codehilite .nv { color: #caeb82 } /* Name.Variable */
.codehilite .ow { color: #dddddd } /* Operator.Word */
.codehilite .w { color: #dddddd } /* Text.Whitespace */
.codehilite .mf { color: #e5786d } /* Literal.Number.Float */
.codehilite .mh { color: #e5786d } /* Literal.Number.Hex */
.codehilite .mi { color: #e5786d } /* Literal.Number.Integer */
.codehilite .mo { color: #e5786d } /* Literal.Number.Oct */
.codehilite .sb { color: #95e454; font-style: italic } /* Literal.String.Backtick */
.codehilite .sc { color: #95e454; font-style: italic } /* Literal.String.Char */
.codehilite .sd { color: #95e454; font-style: italic } /* Literal.String.Doc */
.codehilite .s2 { color: #95e454; font-style: italic } /* Literal.String.Double */
.codehilite .se { color: #95e454; font-style: italic } /* Literal.String.Escape */
.codehilite .sh { color: #95e454; font-style: italic } /* Literal.String.Heredoc */
.codehilite .si { color: #95e454; font-style: italic } /* Literal.String.Interpol */
.codehilite .sx { color: #95e454; font-style: italic } /* Literal.String.Other */
.codehilite .sr { color: #95e454; font-style: italic } /* Literal.String.Regex */
.codehilite .s1 { color: #95e454; font-style: italic } /* Literal.String.Single */
.codehilite .ss { color: #95e454; font-style: italic } /* Literal.String.Symbol */
.codehilite .bp { color: #dddddd } /* Name.Builtin.Pseudo */
.codehilite .vc { color: #caeb82 } /* Name.Variable.Class */
.codehilite .vg { color: #caeb82 } /* Name.Variable.Global */
.codehilite .vi { color: #caeb82 } /* Name.Variable.Instance */
.codehilite .il { color: #e5786d } /* Literal.Number.Integer.Long */

.gutter{
    background-color: black;
    color: #857b6f;
}

blockquote {
    background-color: #fff;
    color: #000000;
    padding: 3mm;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.post > .codehilite .lineno {
    display:inline-block;
    padding: 0 5px;
    border-right:1px solid #ccc;
}

.post > .codehilite pre code {
    display: block;
    white-space: pre;
    overflow-x: auto;
    word-wrap: normal;
}

/* To display a "Command Line" to be typed by user */
code.command {
    display: inline-block;
    font-family: monospace;
    border: 1px solid #606085;
    width: 95%;
    padding: 2mm 1em;
}
/* To highlight arguments that user should adapt */
code.command > i {
    font-style: italic;
    color: #40505A;
}

/* ********** Table for a list of man pages ********** */
table {
    background-color: #AAAAAA;
    border-collapse: separate;
    border-spacing: 1px;
    margin-top:    0mm;
    margin-bottom: 5mm;
    margin-left:  10mm;
    margin-right: 10mm;
}
table th {
    color: #E8E8E8;
    border: 1px inset;
    background: black;
    border-left: 1px solid #b6b6b6;
    border-top: 1px solid #b6b6b6;
    border-right: 1px solid #616161;
    border-bottom: 1px solid #616161;
    font-size: 0.8em;
    color: white;
    font-weight: bold;
    text-align: center;
    outline: 1px solid black;
}
table tr:hover {
    /* When the mouse is over a line, we highlight the whole line
       because it is very convenient for reading */
    background-color: #AECAAE;
}
table td {
    color: #000000;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #555555;
    border-bottom: 1px solid #555555;
    padding: 1mm;
    outline: 1px solid black;
}
table td.name {
    font-family: monospace;
    width: 1px;     /* This prevents the column from stretching */
}
table td.name a {
    display: inline-block;
    width: 100%;
}
table td.section {
    text-align: center;
    width: 1px;     /* This prevents the column from stretching */
}
table a {
    color: #000040;
}

/* main content */
article {padding: 1em}

/*
 * size specific styles
 */

/* large screens. size: 64 * 2 + width of the wrapper (800) == 928 + margin */
@media screen and (min-width: 940px) {

    /* menu as a vertical dock */
    aside {
        position: fixed;
        right: 0;
        top: 0;
        width: 64px;
    }

    nav.menu li#dock {background-image: url(files/dock_dock.png)}
    nav.menu li#home {background-image: url(files/dock_home.png)}
    nav.menu li#blog {background-image: url(files/dock_blog.png)}
    nav.menu li#library {background-image: url(files/dock_library.png)}
    nav.menu li#photos {background-image: url(files/dock_photos.png)}
    nav.menu li#screenshots {background-image: url(files/dock_screenshots.png)}
    nav.menu li#links {background-image: url(files/dock_links.png)}

    nav.menu {padding: 0}

    nav.menu ul {
        padding: 0;
        margin: 0;
        list-style:none;
    }

    nav.menu li {
        float: left;
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline;
    }

    nav.menu a {
        padding: 3px 12px;
        text-decoration: none;
        color: #999;
        line-height: 100%;
    }

    nav.menu a:hover {color: #BBB}

    nav.menu form {display: inline}

    nav.menu .current a {color: #fff}

    nav.menu li {
        display: block;
        width: 64px;
        height: 64px;
        border: 0;
        padding:0;
    }

    nav.menu li a {
        display: block;
        width: 64px;
        height: 64px;
        border: 0;
        padding:0;
        line-height: 0;
        font-size: 0;
        color: transparent;
    }

}

/* small screens */
@media screen and (max-width: 939px) {

    #wrapper {
        width: 100%;
        margin: 0;
        border: 0;
    }

    /* menu as a horizontal, scrollable icon list */
    article {width: auto}

    nav.menu {padding: 0 1em 0 1em}

    nav.menu ul {
        border: 3px groove black;
        padding: 0;
        margin: 0;
        list-style:none;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    nav.menu li {
        float: left;
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline;
    }

    nav.menu a {
        padding: 3px 12px;
        text-decoration: none;
        color: #999;
        line-height: 100%;
    }

    nav.menu a:hover {color: #BBB}
    nav.menu form {display: inline}
    nav.menu .current a {color: #fff}

    nav.menu li {
        display: block;
        width: 64px;
        height: 64px;
        border: 0;
        padding:0;
    }

    nav.menu li a {
        display: block;
        width: 64px;
        height: 64px;
        border: 0;
        padding:0;
        line-height: 0;
        font-size: 0;
        color: transparent;
    }

    nav.menu li#dock {display: none}
    nav.menu li#home {background-image: url(files/prefs_home.png)}
    nav.menu li#blog {background-image: url(files/prefs_blog.png)}
    nav.menu li#library {background-image: url(files/prefs_library.png)}
    nav.menu li#screenshots {background-image: url(files/prefs_screenshots.png)}
    nav.menu li#photos {background-image: url(files/prefs_photos.png)}
    nav.menu li#links {background-image: url(files/prefs_links.png)}

    .codehilite {
        padding: 0;
        margin: 0;
    }

}

/* very small - usually mobile phone screens */
@media screen and (max-width: 600px) {

    header h1 a {font-size: 1.5em}

}
